 @media (min-width:750px) and (max-width:1141px) {
     .catalog {

         max-width: 750px;

    }

     .sort {
         right: 0%;

     }
 }

 @media (min-width:360px) and (max-width:749px) {
     .catalog {

         max-width: 360px;

     }

 }

@media (min-width:360px) and (max-width:1160px) {
    .shopping-cart {
        display: flex;
        flex-direction: column;

        &__right {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

    }
}