.basement {
    &__bunner-1 {
        height: 341px;
        width: 100%;
        background-color: $Mainbackgroungcolor;
        gap: 30px;
        @include displayFlex_ALL_Center;

        &__cart {
            gap: 15px;
            max-width: 360px;
            height: 133px;
            @include displayFlex_ALL_Center;
            flex-direction: column;


            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: center;

            //<!-- !!!!!!!!! -->
            &__delivery-img {
                content: url(../style/img/basement/basement_1.svg);
                width: 45px;
                height: 32px;
            }

            &__sale-discounts {
                content: url(../style/img/basement/basement_2.svg);
                width: 40px;
                height: 40px;
            }

            &__quality-assurances {
                content: url(../style/img/basement/besement_3.svg);
                width: 47px;
                height: 35px;
            }

            &__title {
                font-size: 20px;
                color: $TextColor3;
            }

            &__text {
                font-size: 14px;
                color: $TextColor3;
            }


        }



    }

    &__bunner-2 {

        height: 418px;
        width: 100%;
        background-image: url(../style/img/basement/bg1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba(255, 255, 255, 0.3);
        background-blend-mode: lighten;

        @include displayFlex_ALL_Center;
        flex-wrap: wrap;

        &__cart-about {
            @include displayFlex_ALL_Center;
            flex-direction: column;
            gap: 30px;
            max-width: 360px;


            .ellipse-img {
                content: url(../style/img/basement/basement-2-img.png);
                width: 96px;
                height: 96px;
                border-radius: 100px;

            }

            .text {
                font-family: Lato;
                font-size: 20px;
                font-style: italic;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;

            }

        }

        .subscribe {
            gap: 30px;
            @include displayFlex_ALL_Center;
            flex-wrap: wrap;
            margin-top: 50px;

            &__form {
                display: flex;
                flex-wrap: nowrap;
            }

            .email-input {
                padding: 10px;
                border-radius: 25px 0 0 25px;
                border: 1px solid #ccc;
                width: 300px;
                box-sizing: border-box;
            }

            &__button {
                margin-left: -4px;
                padding: 10px 20px;

                background-color: $MainColorPink;
                color: $TextColor3;
                border-radius: 0 25px 25px 0;
                cursor: pointer;
                border: 2px solid $MainColorPink;

            }

            &__button:hover {
                border: 2px solid black;

            }
        }


    }


}