.bottom-menu {
    height: 73px;
    background-color: $Mainbackgroungcolor;
    @include displayFlex_ALL_Center;
    justify-content: space-around;
}

.copyright-block {
    color: white
}

.social-icons {
    @include displayFlex_ALL_Center;
    gap: 7px
}

.icon-bottom {
    @include displayFlex_ALL_Center;
    border: 1px solid black;
    width: 34px;
    height: 34px;
    background-color: white;
    padding: 1px;
}

.icon-bottom:hover {
    background-color: $MainColorPink;
}

.pinterest {
    content: url(../style/img/footer/pinterest-footer.svg);

}

.vk {
    content: url(../style/img/footer/vk-footer.svg);
}