nav {
    background-color: $Mainbackgroungcolor;

}

.top-menu {
    height: 75px;
    background-color: $Mainbackgroungcolor;
    display: flex;
    justify-content: space-around;


    position: sticky;
    top: 0;
    z-index: 50;



    .logo-search {
        @include displayFlex_ALL_Center;
        gap: 41px;

        .main-logo {
            content: url(../../img/header/Logo_header.svg);
            content: url(../style/img/header/Logo_header.svg);
            width: 44px;
            height: 38px;
        }

        .search-hover {
            display: flex;
            flex-direction: row;
            @include displayFlex_ALL_Center;
            gap: 10px;
        }

        .search {
            content: url(../style/img/header/search_header.svg);
            position: relative;
            width: 30px;
            height: 31px;



            &__form {

                display: flex;
                flex-direction: row;
                font-family: "Lato";

                .input {
                    box-shadow: none;
                }

                .custom_input {
                    background-color: #3a3a3a;
                    width: 400px;
                    height: 40px;
                    border: 1px solid $MainColorPink;

                    border-radius: 5px 5px 5px 5px;

                }

                .input:focus {
                    background: #F2F2F2;
                    border: 1px solid $MainColorPink;
                    border-right: 1px solid transparent;


                }

                .button {
                    // display: none;
                    z-index: 1;
                    border: 1px solid $MainColorPink;


                    background-color: #F2F2F2;

                    border-radius: 5px;
                    width: 100px;
                    height: 40px;
                }

                // .input:focus(.button) {
                //     display: block;
                // }
            }




        }



    }

    .user_info {
        @include displayFlex_ALL_Center;
        gap: 41px;

        // &__icon-header:hover {
        //     background: $MainColorPink;
        .user_info__setting {
            content: url(../style/img/header/setting_header.svg);
            width: 36px;
            height: 27px;
        }

        .user_info__user {
            content: url(../style/img/header/user_header.svg);
            width: 33px;
            height: 33px;
        }

        .user_info__shopping-cart {
            content: url(../style/img/header/shopping-cart_header.svg);
            width: 36px;
            height: 33px;
        }

    }

    .icon-header:hover {
        background-color: $MainColorPink;
        border-radius: 3px;
    }

    .icon-header img {
        width: 34px;
        height: 34px;
    }

    .icon-header {
        padding: 5px;
    }
}

// главная страница обложка
.big-logo-index {
    background-color: #F1E4E6;
}

.big-logo-index {
    @include displayFlex_ALL_Center;
    margin-left: -100px;

    .left-img {
        max-width: 800px;
        max-height: 765px;
    }

    .left-img img {
        width: 100%;
    }

    .right-name {



        .block-name-and-figure {
            margin-left: -100px;
            padding-right: 10px;
            @include displayFlex_ALL_Center;

            color: $TextColor1;


            .block-img-pink {
                width: 12px;
                height: 92px;
                background-color: $MainColorPink;
            }

            .name-shop {

                .up-name {

                    font-size: 48px;
                    font-weight: 900;
                    line-height: 58px;
                    letter-spacing: 0em;
                    text-align: left;
                }

                .down-name {

                    font-size: 32px;
                    font-weight: 700;
                    line-height: 38px;
                    letter-spacing: 0em;
                    text-align: left;

                    .name-pink {
                        color: $MainColorPink;
                    }
                }
            }

        }
    }
}



// в продукте "хлебные крошки"
.nav_bunner {
    *a {
        color: $TextColor2;
    }

    *a:hover {
        background-color: $MainColorPink;
        border-radius: 5px
    }

    @include displayFlex_ALL_Center;
    justify-content: space-around;
    background-color: #F8F3F4;
    ;

    width: 100%;
    height: 150px;
    ;

    &__speech {
        color: $MainColorPink;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;

    }

    &__bread_crumbs {

        a {
            color: rgb(0, 175, 6);
        }

        &__current_page {

            color: $MainColorPink;


            font-size: 18px;
            font-weight: bold;
            line-height: 17px;

        }
    }
}