// main {
//     display: flex;
//     align-items: center;
// }

.shopping-cart {

    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 96px 60px 128px 60px;
    gap: 128px;

    &__left {

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;




        ul {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .product-cart {

            position: relative;
            width: 652px;
            max-height: 306px;

            height: 100%;

            display: flex;
            box-shadow: 3px 3px 2px 0px #E2E2E2;

            &__cross {
                position: absolute;
                right: 25px;
                top: 25px;
            }

            &__cross:hover {
                path {
                    transition: 100ms;
                    fill: $MainColorPink;
                }
            }

            &__img {
                width: 262px;
                height: 306px;
                background-color: #F3EEEF;
                object-fit: contain;

            }

            img {}

            .short-info {
                color: $TextColor2;
                font-family: Lato;
                font-size: 22px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;




                display: flex;
                flex-direction: column;

                gap: 6px;
                padding: 22px 0px 62px 31px;

                &__title {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 42px;
                }

                &__info {
                    // width: 140px;
                    display: flex;
                    justify-content: space-between;


                }

                .color {
                    color: $MainColorPink;
                }


            }
        }

        .product-btm {
            border: 1px solid $TextColor2;
            width: 224px;
            height: 49px;
        }

        .box-btm {
            gap: 100px;
            max-width: 652px;
            width: 100%;
            margin-top: 72px;
            display: flex;
            justify-content: space-between;
        }

    }




    &__right {
        display: flex;
        flex-direction: column;

        align-content: center;
        align-items: center;


        gap: 57px;

        &__shipping_adress {
            display: flex;
            flex-direction: column;
            width: 360px;
            gap: 20px;

            .title {
                color: $TextColor2;
                font-family: Lato;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;

            }



            .bottom-adress {
                width: 100px;
                height: 34px;
                border: 1px solid $TextColor2;


                font-family: Lato;
                font-size: 11px;
                font-weight: 400;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: left;

            }
        }

        &__checkout_box {
            color: $TextColor2;

            width: 360px;
            height: auto;
            background-color: #F5F3F3;

            font-family: Lato;
            font-size: 11px;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0em;
            text-align: left;

            display: flex;
            justify-content: flex-end;
            flex-direction: column;



            padding: 39px 37px 42px 44px;

            .GRAND_TOTAL {
                padding-top: 12px;

                &__left {
                    color: $TextColor1;

                    font-family: Lato;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }

                &__right {
                    font-family: Lato;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;

                    color: $MainColorPink;
                }








            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 6px;
            }

            .li {

                gap: 40px;
                display: flex;
                justify-content: flex-end;

            }

            .border {
                margin-top: 21px;
                height: 1px;
                max-width: 275px;
                width: 100%;
                background-color: #E2E2E2;
            }

            .bottom-checkbox {
                margin-top: 17px;

                height: 50px;
                max-width: 273px;
                width: 100%;




            }

        }


    }

    .custom_Quantity {
        width: 44px;
        height: 25px;
        padding: 10px 10px;
    }


}